*{
  font-family: Helvetica, Arial, sans-serif;

}
body{
  padding:20px;
  background-color:rgb(32, 32, 37);
}

.botonTiempo{
  margin-top: 20px;
}
.tarjeta{
  background-color: rgb(46, 46, 54);
  padding:15px;
  color:white;
  margin: 0 0 15px 0;
 
}
.tarjeta h3{
  font-size: 1.3rem;

}
.separador{
  height: 15px;
  background-color: white;
  border: none;
}
.listaTiempo{
  background-color:rgb(63, 63, 73) ;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.cabeceraTarjetaContainer{
  position: relative;
  bottom:10px;
}

.cabeceraTarjeta{
  display: inline-block;
}
.iconoTiempo{
  position: relative;
  bottom:4px
}
.tituloTarjeta{
  margin-right: 10px;
}
ol{
  margin:0;
  padding: 0;
  overflow: hidden;
}
h1{color: white;}
.logo{
  max-width: 50px;
  position: relative;
  bottom:10px;
}
#map{
  width: 100%;
}
.resaltado{
  font-weight: bold;
  color: lightblue;
  font-size: 1rem;
}